<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>학과 사무실 TV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href={% static "css/bootstrap.min.css" %} rel="stylesheet" media="screen">
  </head>
  <body> 
    <div id='myCarousel' class='carousel slide' data-ride="carousel" data-interval="5000">
      <div class='carousel-inner' role='listbox'>
        {% if publicrelations %} 
          {% for publicrelation in publicrelations %}
          <!-- carousel css -->
            <div class='item {% if forloop.first %} active{% endif %}'>
            {% autoescape off %} 
              {{ publicrelation.content }} 
            {% endautoescape %}
            </div>
          {%endfor %}
        {% else %}<h1> 표시할 게시물이 없습니다 </h1>
        {% endif %}

      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    <!-- js/jquery.js -->
    <!--<script src= {% static "js/jquery.js" %}></script>-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </body>
</html>